<h4><span>Network</span> actions</h4>
<ul class="links">
	<li class="first"><%= link_to 'Add Node', :action=>:add_node %></li>
	<li><a href="#">Consequat cursus</a></li>
	<li><a href="#">Tempus nullam</a></li>
	<li><a href="#">Magna sed mauris</a></li>
	<li><a href="#">Semper molestie</a></li>
</ul>
