<h4><span>Network</span> actions</h4>
<ul class="links">
	<li class="first"><%= link_to 'Add Node', :action=>:add_node %></li>
	<li><%= link_to 'Setup Links', :action=>:setup_links %></li>
	<li><%= link_to 'View Network', :action=>:graphviz, :id=>"network.gv" %></li>
</ul>
