<h3>Setup Links</h3>

<table>
	<tr>
		<th><h1>Root Nodes</h1></th>
		<th><h1>Child Nodes</h1></th>
	</tr>
	<tr>
		<td>
		  <%= render :partial=>'node', :collection=>@unconnected %>
		</td>
		<td>
		  <%= render :partial=>'node', :collection=>@connected %>
		</td>
	</tr>
</table>