<h3>Setup Links</h3>

<table>
	<tr>
		<th><h1>Unconnected Nodes</h1></th>
		<th><h1>Connected Nodes</h1></th>
	</tr>
	<tr>
		<td>
		  <%= render :partial=>'node', :collection=>@unconnected %>
		</td>
		<td>
		</td>
	</tr>
</table>